html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-shadow: 1px 1px 1px bisque;
  color: rgba(30, 30, 15, .7);
}

body {
  font-family: monospace;
  background: radial-gradient(at center, rgba(0,200,0,.1), rgba(128,128,0,.1)) no-repeat fixed;
}

#github {
  margin: 20px;
}

#github div h1, #github h2 {
  padding: 25px;
}

#github > label {
  margin: 25px;
}

#github-buttons {
  font-size: 1.2em;
}

#github-buttons input{
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: #f66;
}

li {
  line-height: 1,5em;
  margin-bottom: 20px;
  color: black;
}

.author, .date {
  font-weight: bold;
}